.title-column{
	width: 30px;
	height: 100%;
	text-align:left;
	line-height: 30px;
	font-size: 12px;
	float: left;
	cursor: pointer;
	overflow: hidden;
	padding-left:10px;
	word-WRAP: break-word;
}
.checkbox-column {
	width: 30px;
	height: 25px;
	text-align:center;
	line-height: 30px;
	font-size: 12px;
}
.context-column {
	height:25px;
	line-height: 25px;
	text-align: left;
	overflow: auto;
	font-size: 12px;
	padding-left: 10px;
	word-WRAP: break-word;
	white-space:nowrap;
	overflow:hidden;
}
.table-rows {
	overflow: hidden;
	width: 100%;
}