.ui-window {
	z-index :1;
	display :block;
}
.window-modal {
	position: absolute;
	left: 0;
	top: 0px;
	width: 100%;
	height: 100%;
	filter: Alpha(opacity = 60);
	background: #333;
	background: rgba(0, 0, 0, 0.6)
}

.ui-window-body {
	border: solid 1px;
	width: 200px;
	height: 200px;
	position: fixed;
	left: 200px;
	top: 200px;
	background: #fff;
}

.ui-window-title {
	cursor:move;
	position: relative;
	height: 30px;
	background: #fcfcfc;
}

.ui-window-title-name {
	float: left;
	position: relative;
	top: 7px;
	left: 10px;
	font-weight: 700;
	font-size: 127%;
}

.ui-window-title-close {
	cursor:pointer;
	position: relative;
	width: 16px;
	height: 16px;
	float: right;
	top: 8px;
	right: 9px;
	background: url("./login_img.png") -97px 0px no-repeat;
}

.ui-window-content {
	border: solid 1px;
	top: 30px;
}

.ui-window-body-resize {
	cursor: se-resize;
	background-color: #ccc;
	position: absolute;
	width: 5px;
	height: 5px;
	float: right;
	right: -2px;
	bottom: -2px;
}