.cloud-map{
	height: 100%;
	width: 100%;
}

.home-control{
	cursor: pointer;
}

.home-control span{
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color: #333;
	width: 13px;
	height: 13px;
	display: inline-block;
}

.home-control strong{
	position: relative;
	top: -2px;
	left: 5px;
}