<!DOCTYPE html>
<html>
  <head>
    <title>overview.html</title>
	
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="/cloud/base/loader.js"></script>
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
    <style type="text/css">
        html, body {
            height: 100% !important;
        }
        
        .overview {
            height: 100%;
        }
		
		.overview .pane{
		}
    </style>
  </head>
  	<script type="text/javascript">
      require(["cloud/lib/plugin/postal"], function(postal){
	  	var channel = postal.channel();
	  });
  	</script>
  <body>
  	
	<div id="user-content" style="height:100%;"></div>
  </body>
</html>
